<h1 class="dummy">Ruby User Dummy Show Page</h1>

<% if @user.position == "teacher" %>
  <h2 class="teacher-name"><%= @user.full_name_first %></h2>
  <h3>Your students:</h3>

  <% @user.students.each do |student| %>
    <h3 class="student-name"><%= link_to student.full_name_first, student_path(student) %></h3>

  <% end %>
<% end %>

<% if @user.position == "student" %>
  <%= @user.full_name_first %>
<% end %>

<div id="app">

</div>
