
<div id="book-container">
  <%= image_tag("book-transparent-bg.png", :class => "book-pages")%>
  <p class="top-left" id="welcome">Welcome to</p>
  <p class="bottom-left" id="app-name">Ensemble</p>
</div>
