<!-- unused for now-->

<h1>Teachers Index</h1>
</br>
<h3>Teachers:<h3>
  <% ordered_teachers = @teachers.sort_by { |teacher| teacher.last_name } %>
  <% ordered_teachers.each do |teacher| %>
  <h6>
    <%= link_to teacher.full_name_last, teacher_path(teacher) %>
  </h6>

<% end %>
