<h4 class="heading">Instructor's Home Page</h4>

  <h2 class="teacher-name"><%= @user.full_name_first %></h2>
  <h3 class="category">Your bands:</h3>
    <% ordered_bands = @bands.sort_by { |band| band.name} %>
    <% ordered_bands.each do |band| %>
      <h5 class="band-name"><%= link_to band.name, band_path(band) %></h5>
    <% end %>
  <h3 class="category">Your students:</h3>
    <% ordered_students = @students.sort_by { |student| student.last_name} %>
    <% ordered_students.each do |student| %>
      <h5 class="student-name"><%= link_to student.full_name_last, student_path(student) %></h5>
    <% end %>
