<h1 class="dummy">Rails Teacher</h1>

  <h2 class="teacher-name"><%= @user.full_name_first %></h2>
  <h3 class="category">Your bands:</h3>
    <%  %>
  <h3 class="category">Your students:</h3>
    <% ordered_students = @students.sort_by { |student| student.last_name} %>
    <% ordered_students.each do |student| %>
      <h5 class="student-name"><%= link_to student.full_name_last, student_path(student) %></h5>
    <% end %>
  <%  %>
