/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

/* google fonts enabled and their properties:

    font-family: 'Great Vibes', cursive;

    font-family: 'Tangerine', cursive;  -> dummy text, students heading

    font-family: 'Parisienne', cursive;  -> Ensemble

    font-family: 'Alex Brush', cursive;

    font-family: 'Italianno', cursive;  -> welcome text

    font-family: 'Mrs Saint Delafield', cursive;

    font-family: 'Arima Madurai', cursive;  -> student names

    font-family: 'Chelsea Market', cursive;  -> student names
    */
nav.top-bar {
  background-color: #F2AB41
}

/* trying to match bg color of nav bar to sign out in nav bar */
section.top-bar-section {
  background-color: #F2AB41
}

body.homes.index {
  background: url(/assets/gold-bg.jpg) no-repeat center center fixed, rgba(251,233,223,0.7);
  background-size: cover;
  background-blend-mode: lighten;
}

body.users.index {
  background: url(/assets/paper-lavender-bg.jpg) no-repeat center center fixed, rgba(251,233,223,0.7);
  background-size: cover;
  background-blend-mode: lighten;
}

body.users.show {
  background: url(/assets/music-slate-bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

body.teachers.show {
  background: url(/assets/music-slate-bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

body.students.show {
  background: url(/assets/music-slate-bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

#book-container {
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; */
    position: absolute;
    align: center;
    text-align: center;
    color: white;
}

#upper-field {
  position: absolute;
  top: 9em;
  right: 12em;
}

#middle-field {
  position: absolute;
  top: 13em;
  right: 12em;
}

/* .lower-field1 {
  top: 17em;
  right: 12em;
}

.lower-field2 {
  top: 21em;
  right: 12em;
}

.lower-field3 {
  top: 25em;
  right: 12em;
}

#bottom-field {
  top: 29em;
  right: 12em;
} */

.home-sign-ins.click-ons {
  padding: 3em, 2em, 3em;
  /* border-style: hidden; */
  border-style: dotted;
  border-radius: 10px;
  margin: 3em, 6em, 1em, 2em;
}



.top-left {
    position: absolute;
    top: 1em;
    left: 3.5em;
}

.bottom-left {
    position: absolute;
    bottom: 1em;
    left: 0.85em;
}


/* #book-pages {
  position:
  z-index: -1;
} */

#welcome {
  font-family: 'Italianno', cursive;
  font-size: 2.5em;
}

#app-name {
  font-family: 'Parisienne', cursive;
  font-size: 5em;
}

.students-heading {
  font-family: 'Tangerine', cursive;
  font-size: 3em;
  font-weight: bold;
  color: #464134
}

.dummy {
  font-family: 'Tangerine', cursive;
  color: #F3F2F2
}

.teacher-name {
  font-family: 'Great Vibes', cursive;
  color: #F3F2F2
}

.student-name {
  font-family: 'Chelsea Market', cursive;
  color: #F3F2F2
}
